:root {
    --purple-light-1: #fbfafb;
    --purple-light-2: #eeeaf2;
    --purple-medium-1: #aa83c8;
    --purple-medium-2: #8b48bf;
    --purple-medium-3: #5c218a;
    --purple-dark-1: #3e0f64;
    --purple-dark-2: #2a0646;
    --yellow: #eecc75;
    --green: #cad297;
    --aqua: #b7eac5;
    --lightBlue: #a2eee5;
    --darkBlue: #8ea2ea;
    --red: #f09d9d;
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

.movie-container--loading {
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}
.movie-container--loading:nth-child(2) {
    animation-delay: 0.2s;
}
.movie-container--loading:nth-child(3) {
    animation-delay: 0.4s;
}

.category-container--loading {
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}
.category-container--loading:nth-child(2) {
    animation-delay: 0.2s;
}

@keyframes loading-skeleton {
    0%,
    100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}
