* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

:root {
    --black-colour: #000000;
    --black-colour2: #1b1b15;
    --grey-colour: #413d3d;
    --purple-light-1: #bdbcbd;
    --purple-light-2: #929192;
}

.inactive {
    display: none;
}

h1,
h2 {
    margin: 0;
}

body {
    margin: 0;
}

button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

h1 {
    color: white;
    font-family: 'Rubik Pixels', cursive;
    font-size: 28px;
    cursor: pointer;
}

h2,
button {
    font-family: 'Roboto Slab', serif;
}

h2 {
    color: white;
}

img {
    max-width: 100%;
}

.movie img,
.movie-large img,
.img-movie--details {
    border-radius: 20px;
    width: fit-content;
    max-height: 100%;
}

.subtitle {
    font-size: 22px;
    padding: 20px 0 10px 10px;
}

.btn-more,
.btn-contract,
.btn-back {
    margin-top: 10px;
    background-color: var(--purple-light-1);
    padding: 5px;
    font-weight: bolder;
    color: #000000;
}

.container-movies--large {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

/************************************/
/*            Header                */
/************************************/
.header-container {
    background-color: var(--black-colour);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 15px;
}

.btn-search {
    background-color: var(--black-colour);
    font-size: 18px;
    padding: 0;
}

input {
    border: none;
    border-radius: 10px;
    font-size: 12px;
    padding-left: 16px;
    height: 18px;
}

#input-movie--search {
    width: 200px;
}

#container-button--back {
    padding: 12px 0 12px 30px;
}

/************************************/
/*            Category              */
/************************************/
#category-buttons,
#category-movies--preview,
#category-movies,
#trending-movies,
#container-button--back,
#search-movies {
    background-color: var(--black-colour2);
}

/* Category Buttons */
#container-categories--buttons,
#container-category--preview,
#container-similar--movies {
    padding: 10px;
    overflow-x: scroll;
    scrollbar-color: #666666 #ece0e0;
    scrollbar-width: thin;
    white-space: nowrap;
}

#container-categories--buttons::-webkit-scrollbar,
#container-category--preview::-webkit-scrollbar,
#container-similar--movies::-webkit-scrollbar {
    width: 10px;
}

#container-categories--buttons::-webkit-scrollbar-track,
#container-category--preview::-webkit-scrollbar-track,
#container-similar--movies::-webkit-scrollbar-track {
    background-color: #555454;
}

#container-categories--buttons::-webkit-scrollbar-thumb,
#container-category--preview::-webkit-scrollbar-thumb,
#container-similar--movies::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

#container-categories--buttons {
    padding: 10px;
}

.btn-category {
    background-color: var(--grey-colour);
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 7px 12px;
}

.btn-category:last-child {
    margin-right: 0px;
}

.btn-category:hover {
    opacity: 80%;
}

/* Category Button Clicked */
.clicked {
    border: 2px solid White;
}

/* Category Movies Preview */
.subtitle-category--preview {
    display: inline-block;
}

.container-preview-buttons {
    padding-right: 10px;
}

.container-preview-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-category--preview {
    padding: 10px 0 10px 10px;
}

.movie {
    display: inline-block;
    margin-right: 10px;
    transition: 0.2s;
}

img:hover {
    cursor: pointer;
    opacity: 80%;
}

.container-preview-top button:first-child {
    margin-right: 3px;
}

.subtitle-category--movies,
.subtitle-trending--movies,
.subtitle-trending--moviesAll {
    text-align: center;
}

/* .subtitle-categories--button {
    padding-top: 30px;
} */

/* .subtitle-trending--movies {
    margin: 10px 0;
} */

/************************************/
/*            Trending              */
/************************************/

#trending-movies--preview {
    background-color: var(--black-colour2);
}

/* Trending Movies Preview */
#container-trending--preview {
    padding: 20px 0 20px 10px;
    overflow-x: scroll;
    scrollbar-width: thin;
    white-space: nowrap;
}

#container-trending--preview::-webkit-scrollbar {
    width: 10px;
}

#container-trending--preview::-webkit-scrollbar-track {
    background-color: #555454;
}

#container-trending--preview::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.btn-more--trending {
    margin-right: 10px !important;
}

/* Trending Movies */
/* #container-trending--movies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 8px;
} */

/************************************/
/*         Movie Details            */
/************************************/
#movie-details {
    background-color: var(--black-colour2);
}

#container-movie--details {
    padding: 20px;
    text-align: center;
}

.subtitle-movie--details {
    text-align: center;
}

.container-description {
    color: white;
    width: 80%;
    margin: 0 auto;
}

.descritpion-movie {
    font-size: 18px;
}

#container-similar--movies {
    padding: 10px 0 10px 10px;
}

/************************************/
/*             Footer               */
/************************************/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-colour);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    height: 10%;
    width: 100%;
}

/************************************/
/*         Loader Skeletor          */
/************************************/
/* Categroy Buttons */

#skeleton-category--buttons,
#skeleton-trending--preview,
#skeleton-category--preview {
    padding: 40px 10px 20px 10px;
    overflow-x: scroll;
    white-space: nowrap;
}

#container-skeletonTrending--preview,
#container-skeletonCategory--preview {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 5px;
}

#skeleton-category--buttons::-webkit-scrollbar,
#skeleton-trending--preview::-webkit-scrollbar,
#container-skeletonTrending--preview::-webkit-scrollbar,
#skeleton-category--preview::-webkit-scrollbar,
#container-skeletonCategory--preview::-webkit-scrollbar {
    display: none;
}

.subtitle-loading {
    background: var(--purple-light-2);
    margin-bottom: 30px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    animation: loading-skeleton infinite 1s;
}

.container-button--loading {
    background: var(--purple-light-2);
    border-radius: 20px;
    margin-bottom: 12px;
    margin-right: 5px;
    padding: 7px 12px;
    height: 30px;
    min-height: 20px;
    max-height: 20px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    animation: loading-skeleton infinite 1s;
}

.container-div--loading {
    background: var(--purple-light-2);
    border-radius: 20px;
    margin-bottom: 12px;
    margin-right: 5px;
    padding: 7px 12px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    animation: loading-skeleton infinite 1s;
}

.btn-more--loading {
    margin-top: -28px;
}

/* Categroy Buttons */

.container-button--loading:nth-child(2),
.container-button--loading:nth-child(4),
.container-button--loading:nth-child(6),
.container-button--loading:nth-child(8),
.container-button--loading:nth-child(10) {
    animation-delay: 0.1s;
}

/* Skeleton Movie Details */
#skeleton-movies--details {
    padding: 20px;
}

.title-movie--loading {
    background: var(--purple-light-2);
    margin: 0 auto;
    margin-bottom: 30px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    animation: loading-skeleton infinite 1s;
}

#container-skeletonMovie--details {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.img-loading-detail {
    margin: 0 auto;
    margin-bottom: 20px;
}

.container-description--loading {
    background: var(--purple-light-2);
    text-align: center;
    margin: 0 auto;
    padding: 7px 12px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    animation: loading-skeleton infinite 1s;
}

#container-skeleton--movies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 8px;
}

.subtitle-movies--loading {
    background: var(--purple-light-2);
    margin: 0 auto;
    margin-bottom: 30px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    animation: loading-skeleton infinite 1s;
}

@keyframes loading-skeleton {
    0%,
    100% {
        opacity: 100%;
    }
    60% {
        opacity: 70%;
    }
    40% {
        opacity: 0%;
    }
}

/************************************/
/*            Responsive            */
/************************************/
/* @media screen and (min-width: 400px) {
    .subtitle-categories--button {
        padding-top: 20px;
    }

    .subtitle-trending--movies {
        margin: 0;
    }

    #container-trending--preview {
        padding-bottom: 20px;
    }

    .btn-category {
        margin-top: 10px;
        margin-bottom: 15px;
    }
} */

/************************************/
/*            Responsive            */
/************************************/
@media screen and (min-width: 667px) {
    h1 {
        font-size: 34px;
    }

    .subtitle {
        font-size: 25px;
        padding: 20px 0 20px 50px;
    }

    .subtitle-search--movies {
        text-align: center;
        padding: 0;
    }

    .btn-search {
        font-size: 18px;
    }

    input {
        font-size: 18px;
    }

    #input-movie--search {
        width: 350px;
    }

    .btn-category {
        font-size: 15px;
        margin-right: 5px;
        padding: 8px 12px;
    }

    #container-categories--buttons,
    #container-category--preview,
    #container-trending--preview {
        padding: 10px 20px 15px 20px;
    }

    .container-preview-top {
        padding-right: 40px;
    }

    .container-preview-top button:first-child {
        margin-right: 5px;
    }

    #container-category--movies,
    #container-trending--movies,
    #container-similar--movies,
    #container-search--movies {
        padding: 20px 20px 30px 20px;
    }

    .movie img,
    .movie-large img,
    .img-movie--details {
        border-radius: 20px;
        width: 220px;
        height: 300px;
    }

    .subtitle-category--movies,
    .subtitle-trending--moviesAll {
        font-size: 36px;
    }

    .btn-more,
    .btn-contract,
    .btn-back {
        font-size: 18px;
        padding: 8px;
    }

    #container-button--back {
        padding: 20px 0 10px 40px;
    }

    #skeleton-category--buttons {
        padding: 20px 30px 20px 30px;
        overflow-x: scroll;
        scrollbar-color: #666666 #ece0e0;
        scrollbar-width: thin;
        white-space: nowrap;
    }

    .subtitle-loading {
        height: 30px;
        margin-bottom: 30px;
        min-height: 30px;
        max-height: 30px;
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        animation: loading-skeleton infinite 1.5s;
    }

    .container-button--loading {
        padding: 7px 12px;
        height: 30px;
        min-height: 30px;
        max-height: 30px;
        width: 75px;
        min-width: 75px;
        max-width: 75px;
        animation: loading-skeleton infinite 1.5s;
    }

    .container-div--loading {
        background: var(--purple-light-2);
        border-radius: 20px;
        margin-bottom: 15px;
        padding: 7px 12px;
        height: 300px;
        min-height: 300px;
        max-height: 300px;
        width: 220px;
        min-width: 220px;
        max-width: 220px;
        animation: loading-skeleton infinite 1s;
    }

    .title-movie--loading,
    .subtitle-movies--loading {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        animation: loading-skeleton infinite 1s;
    }

    footer {
        height: 70px;
    }
}
